	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner big">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> 
				<a class="brand" href="#">基于互联网地图的用户行为分析系统</a>
				<div class="nav-collapse collapse">
					<ul id="top-navbar" class="nav nav-pills pull-right">
							<li><a href="/main.html">首页</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							        数据管理<b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
									<li><a href="/cellgsm.html#type=gsm">GSM基站信息</a></li>
									<li><a href="/celltd.html#type=td">TD基站信息</a></li>
									<li><a href="/cellwlan.html#type=wlan">WLAN基站信息</a></li>
									<li><a href="/celllte.html#type=lte">LTE基站信息</a></li>
									<li><a href="/aabis.html">A+Abis信息</a></li>
									<li><a href="/building.html">楼宇信息</a></li>
									<li><a href="/property.html">物业点信息</a></li>
									<%if(user.role === 'admin'){%>
										<li><a href="/datacorrection.html">数据工具集</a></li>
									<%}%>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							        统计分析<b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
									<li><a href="/analysis.html">地图展示</a></li>
									<li><a href="/realtimeanalysis.html">实时与历史分析</a></li>
								</ul>
							</li>	
							<li><a href="/auditeanalysis.html">质量预警</a></li>
							<li><a href="/lateranalysis.html">后评估</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							        应用建议<b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
									<li><a href="/optimizationanalysis.html">规划优化</a></li>
							        <li><a href="/marketnanalysis.html">市场营销</a></li>
								</ul>
							</li>
              
							
                            <!-- 
							<li><a href="/project.html">项目管理</a></li>
							-->

							<!--<li><a href="/apitest.html">百度信息采集</a></li>-->
							<%if(user.role === 'admin'){%>
							<li class="dropdown">
							    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
							        系统管理<b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
							      <li><a href="/dept.html">组织结构</a></li>
							      <!--
							      <li><a href="/right.html">权限管理</a></li>
							      <li><a href="/user.html">用户管理</a></li>
							      <li><a href="/log.html">日志管理</a></li>
							  
							      <li><a href="/apitest.html">API测试</a></li>-->
							    </ul>
						    </li>
						    <%}%>
							<li><a href="/signout">退出系统 [ <span style="color:blue"><%=user.name %> </span> ]</a></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
