<% include head.html %>
<body>    
  <% include navi.html %>
  <div id="container" class="container-fluid">
    <div class="row-fluid">
      <!--/span-->
      <div id="mainContent" class="span9 content-area">
        <!-- 控制面板 -->
        <div id="serviceCtlBar" class="navbar span9 ctlbar">
              <div class="navbar-inner">
              <ul class="nav" id="navtab">
                  <li class="active"><a href="#type=topn" data-toggle="tab">指标topN</a></li>
                  <li class=""><a href="#type=deltaTopn" data-toggle="tab">陡降指标topN</a></li>
              </ul>
            </div>
          </div>

<!-- 分析结果模板 -->
<script type="text/html" id="queryResultTpl">
  <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#<@=bodyId @>">
          <i class="icon-folder-open"></i><@=title @></a>
      </div>
      <div id="<@=bodyId @>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table class="table table-bordered table-hover"> 
      <thead> 
        <tr>
          <th><a href="#"><@=categoryName @></a></th>
        <th><a href="#">室内常驻<br/>用户数</a></th>
        <th><a href="#">总话音业务量<br/>（GSM+TD）</a></th>
        <th><a href="#">总数据流量<br/>（GSM+TD）</a></th>
        <th><a href="#">覆盖率<br/>（-85dB的比例）</a></th>
        <th><a href="#">话音质量<br/>（0-4级占比）</a></th>
        <th><a href="#">平均覆盖电平<br/>（dB）</a></th>
        <th><a href="#">掉话率</a></th>
        <th><a href="#">寻呼成功率</a></th>
        <th><a href="#">质差</a></th>
        <th><a href="#">切换占比</a></th>
        <th><a href="#">TD终端占比</a></th>
        </tr> 
      </thead> 
      <tbody>
      <@ for(i = 0 ; i<= aggrows.length - 1; i++){
        var aggrow = aggrows[i];
        var params = $.param({value:aggrow._id });
      @>
        <tr>
        <td><@= aggrow.name @></td> 
        <td><@= aggrow.abis1 @></td>
        <td><@= aggrow.wyData1 ? aggrow.wyData1.toFixed(3) : 0 @></td>
        <td><@= aggrow.wyData2 ? aggrow.wyData2.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis2 ? aggrow.abis2.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis3 ? aggrow.abis3.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis4 ? aggrow.abis4.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis5 ? aggrow.abis5.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis6 ? aggrow.abis6.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis7 ? aggrow.abis7.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis8 ? aggrow.abis8.toFixed(3) : 0 @></td>
        <td><@= aggrow.abis9 ? aggrow.abis9.toFixed(3) : 0 @></td>
        </tr>
      <@ } @>
      </tbody> 
      </table>
        </div>
      </div>
    </div>
</script>
<script type="text/html" id="pagebarTpl">
  <div class="pagination">
    <ul>
      <li <@=(currentIdx===0 ? 'class="active"':"" ) @> >
        <a href="#skipto=0">第一页</a></li>
      <li <@=(startPage === pre ? 'class="active"':"" ) @> >
        <a href="#skipto=<@=pre @> ">...</a></li>
        <@ for( i = startPage ; i<= endPage; i++){ @>
          <li <@=(currentIdx === i ? 'class="active"':"" ) @> >
            <a href="#skipto=<@=i@>"><@=i@></a></li>
        <@ } @>
        <li <@= (endPage === next ? 'class="active"':"" ) @> >
          <a href="#skipto=<@=next@>">...</a></li>
        <li><a href="#skipto=<@=pageCnt-1 @>">最后一页</a></li>
    </ul>
  </div>
</script>      
        <!-- 分析结果表格 -->
        <div id="zoneanalysis" class="content-body tab-content">
          <div id="topnBuildingDiv" class="aggregate tab-pane active">
            <div id="topnBuildingTable"></div>
            <div id="topnBuildingPagebar"></div>
          </div>
        </div>
      </div>

      <!--/span-->
      <div class="layer-area sidepannel">
        <!-- 控制面板 -->
        <div id="mapctlBar" class="navbar side-ctlbar">
              <div class="navbar-inner">
               <ul class="nav">
                  <li class="active"><a href="#p1" data-toggle="tab">质量预警查询</a></li>
                </ul>
              </div>
            </div>
        <div id="topNavbar" class="sidebar-nav">
              <div class="navbar side-navbar"> 
            <div class="navbar-inner"> 
              <ul class="nav"> 
                <button id="searchBtn" class="btn btn-primary">查询结果</button> 
              </ul> 
            </div> 
            </div>
                <div class="tab-content">
                 <form id="search-form" class="form-horizontal">
              <fieldset>
                <div id="legend" class="">
                  <legend class=""></legend>
                </div>

                  <div class="control-group building-query property-query">
                    <label class="control-label">地市</label>

                <div class="controls">
                      <input type="text" name="addComp.city" placeholder="合肥市" value="合肥市" >
                    </div>
                  </div>

                  <div class="control-group building-query property-query">
                    <label class="control-label">区域类型</label>

                <div class="controls">
                      <select name="areatype1" class="input-large">
                    <option></option>
                    <option>密集城区</option>
                    <option>一般城区</option>
                    <option>县城城区</option>
                    <option>乡镇</option>
                    <option>风景区</option>
                  </select>
                    </div>
                  </div>

                  <div class="control-group building-query property-query">
                    <label class="control-label">面积</label>

                <div class="controls">
                      <input type="text" name="areasize"  placeholder="平方米" value="" >
                      <p class="help-block">(以内)</p>
                    </div>
                  </div>
                  <div class="control-group building-query property-query">
                    <label class="control-label">人口</label>

                <div class="controls">
                      <input type="text" name="population" placeholder="" value="" > 
                      <p class="help-block">(以内)</p>
                    </div>
                  </div>

                  <div class="control-group building-query property-query">
                    <label class="control-label">GSM覆盖</label>

                <div class="controls">
                      <select name="gsmcoverState" id="buildingForm-gsmcoverState" class="input-large">
                          <option></option>
                      <option>未覆盖</option>
                      <option>全部覆盖</option>
                </select>
                    </div>
                  </div>

                  <div class="control-group building-query property-query">
                    <label class="control-label">陡降阈值</label>
                <div class="controls">
                      <input type="text" name="threadHold"  placeholder="陡降阈值" value="" >
                    </div>
                  </div>

                  <div class="control-group">
                <label class="control-label" for="区域">Top</label>
                <div class="controls">
                  <input type="text" name="topNCnt"  placeholder="50" value="" >
                </div>

              </div>
              </fieldset>
            </form>
                </div>
        </div>
        <!--/.well -->
      </div>
    </div>
    <!--/row-->

    <!-- <hr id="bottom"/> -->
  </div>
  
  <!--/.fluid-container-->
  <div id="confirmDlg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">再次确认:</h3>
    </div>
    <div class="modal-body">
      <p>是否确认要做这个动作？</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary ok" data-dismiss="modal">确认</button>
      <button class="btn no" data-dismiss="modal">取消</button>
    </div>
  </div>

  <!-- JS文件放在靠近HTML页面尾部的地方可以加快页面显示的速度 -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/sharepage.js"></script>
  <script src="js/sharepage.ext.js"></script>
  <script src="js/<M%=module_name %M>.js"></script>
<% include foot.html %>

